
//main use
$black : #000000;
$white : #ffffff;
$white-dark : #fbfbfb;
$minor : #505050;
$minor-hover : #868686;
$boxShadow : rgba(0, 0, 0, 0.2);
$boxShadow-dark : #646464;
$line : #c8c8c8;

//theme color
$bg : #f8f8f8;
$navyBlue : #5585BD;
$candyPink : #FF7777;
$mintGreen : #7dcdcd;
$mintGreen-dark : #3da7a7;
$mintGreen-light : #bdecec;
$orange : #EE962F;
$test : #83cfe2;
