@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
@import './scss/normalize.scss';
@import './scss/colors/colors.scss';
@import './scss/animation/keyframes.scss';
@import './scss/react-datepicker/adjust_React-datepicker.scss';
@font-face {
  font-family: 'js-openhuninn';
  src: url(./font/jf-openhuninn-1.1.ttf);
}

$infoBlock-padding : 2em;
$infoBlock-gap : 20px;


//for mobile 100vh height
@function vh($quantity) {
    @return calc(var(--vh, 1vh) * #{$quantity});
}

html,body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #e4e4e4;
    font-family: 'Noto Sans TC', sans-serif;
    // font-family: 'js-openhuninn', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 428px) {

    $padding : 3em;
    html,body{
        font-size: 12px;
    }
    .infoBlockContainer{
        margin-top: $infoBlock-gap;
    }
    .closeButtonContainer{
        font-size: 20px;
        margin: 5px 5px;
        // display: none;
    }
    .infoBlock{
        width: 100vw;
        padding-top: $padding;
    }
    .toolbarContainer{
        width: calc(100% - #{$padding} * 2);
        padding: 0 $padding;
    }
    .cardsList{
        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */ 
            width: calc(100% - #{$padding} * 2);
            padding: 0 $padding $padding;
        }
        @supports not (-webkit-touch-callout: none) {
            /* CSS for other than iOS devices */ 
            width: calc(100% - #{$padding} * 2 + 10px);
            padding: 0 calc(#{$padding} - 10px) $padding $padding;
        }
    }
    .selectors{
        font-size: 16px !important;
        &span{
            padding: 7.5px 10px !important;
        }
        &select{
            padding: 7.5px 10px !important;
        }
        &.dateSelect{
            padding : 7.5px 10px !important;
        }
    }
    .pagination{
        display: flex;
        gap: 15px;
        .pageArrow{
            flex: 1;
            font-size: 20px;
            // width: 50px !important;
            line-height: 50px;
        }
        .pageElement{
            flex: 2;
            position: relative;
            .selectArrow{
                top: 0.25em;
                right: 1.5em;
            }
            select{
                font-size: 16px;
                width: calc(100% - 22px);
                line-height: 38px;
                padding: 5px 10px;
                border:1px solid $minor;
                border-radius: 24px;
                background-color: $white;
                text-align-last: center;
            }
        }
        span{
            position: absolute;
            text-align: center;
            font-size: 1.5em;
            width: calc(100% - 22px);
            line-height: 50px;
            pointer-events: none;
        }
        select{
            color:white;
            option{
                color: black;
            }
        }
        select, option{
            -webkit-appearance: none;
        }
    }
    .cardMini{
        width: inherit;
        font-size: 14px;
        padding-right: 20px;
        .date{
            i{
                padding: 0 10px;
            }
        }
    }
}
@media only screen and (min-width: 429px) {

    $padding : 2.5em;
    html,body{
        font-size: 12px;
    }
    .infoBlockContainer{
        margin: $infoBlock-gap;
    }
    .closeButtonContainer{
        font-size: 1.2em;
        margin: 0.5em 0.5em;
    }
    .infoBlock{
        width: calc(280px + #{$infoBlock-padding} * 2);
        padding-top: $padding;
    }
    .toolbarContainer{
        width: calc(100% - #{$padding} * 2);
        padding: 0 $padding;
    }
    .cardsList{
        @supports (-webkit-touch-callout: none) {
            /* CSS specific to iOS devices */ 
            width: calc(100% - #{$infoBlock-padding} * 2);
            padding: 0 $infoBlock-padding $infoBlock-padding;
        }
        @supports not (-webkit-touch-callout: none) {
            /* CSS for other than iOS devices */ 
            width: calc(100% - #{$infoBlock-padding} * 2 + 10px);
            padding: 0 calc(#{$infoBlock-padding} - 10px) $infoBlock-padding $infoBlock-padding;
        }
        // width: 290px;
    }
    .pagination{
        .pageElement{
            line-height: 1.5em;
            width: 1.5em;
            padding: 0.5em;
            border-radius: 1.5em;
            margin-right: calc((100% - 2.5em * 9) / 8);
        }
    }
    .cardMini{
        width: 280px;
        font-size: 14px;
        padding-right: 20px;
        .date{
            i{
                padding: 0 10px;
            }
        }
    }
    .card{
        &-meta{
            &-title{
                .state{
                    padding: 0px;
                }
            }
        }
    }
}
@media only screen and (min-width: 769px) {
    $padding : 2.5em;
    .infoBlockContainer{
        margin: $infoBlock-gap;
    }
    .infoBlock{
        width: calc(300px + #{$infoBlock-padding} * 2);
        padding-top: $padding;
    }
    .toolbarContainer{
        width: calc(100% - #{$padding} * 2);
        padding: 0 $padding;
    }
    .cardsList{
        // width: 310px;
    }
    .pagination{
        .pageElement{
        line-height: 1.75em;
        width: 1.75em;
        padding: 0.5em;
        border-radius: 1.5em;
        margin-right: calc((100% - 2.75em * 9) / 8);
        }
    }
    .cardMini{
        width: 280px;
        font-size: 18px;
        i{
            padding: 0 0.75em;
        }
    }
    .card{
        &-meta{
            &-title{
                .state{
                    padding: 0px 5px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1025px) {
    $padding_1025 : 2.5em;
    html,body{
        font-size: 16px;
    }
    .infoBlockContainer{
        margin: $infoBlock-gap;
    }
    .infoBlock{
        width: calc(450px + #{$infoBlock-padding} * 2);
        padding-top: $padding_1025;
    }
    .toolbarContainer{
        width: calc(100% - #{$padding_1025} * 2);
        padding: 0 $padding_1025;
    }
    .cardsList{
        // width: 460px;
    }
    // .pagination{
    //     .pageElement{
    //     line-height: 1.75em;
    //     width: 1.75em;
    //     padding: 0.5em;
    //     border-radius: 1.5em;
    //     margin-right: calc((100% - 2.75em * 9) / 8);
    //     }
    // }
    .card{
        &-meta{
            &-title{
                .state{
                    padding: 0px 5px;
                }
            }
        }
    }
    .cardMini{
        width: 350px;
        font-size: 18px;
        i{
            padding: 0 0.75em;
        }
    }
}

::-webkit-scrollbar{
    width: 10px;
    margin-right: 10px;
    &-track{
        border-radius: 10px;
        background-color: #f6f6f6;
    }
    &-thumb{
        border-radius: 10px;
        background-color: #d3d3d3;
        &:hover{
            background-color: #9e9e9e;
        }
    }
}

::selection{
    background-color: $mintGreen-light;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading{
    margin: 100px auto;
    width: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 60px;
    color: $mintGreen-dark;
    i{
        animation-name: spin;
        animation-duration: 1200ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out; 
    }
}

.mapContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    *{
        .gm-style-cc { display:none; }
        // .gm-style a[href^="https://maps.google.com/maps"] {
        //     display: none !important;
        // }
        .gm-ui-hover-effect img {
            width: 20px !important;
            height: 20px !important;
        }
        .gm-ui-hover-effect {
            top: 0px !important;
            right: 5px !important;
        }
    }
}

.mapCover{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $black;
    &.open{
        animation-name: fadeIn;
        animation-duration: 0.35s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    &.close{
        pointer-events: none;
        animation-name: fadeOut;
        animation-duration: 0.35s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

.infoButtonContainer{
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    flex-direction: column;
    gap: 15px;
    display: flex;
    &.open{
        // display: flex;
        animation-name: open;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    &.close{
        // display: none;
        animation-name: close;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    .button{
        width: 65px;
        line-height: 65px;
        border-radius: 50px;
        transition: all 0.2s;
        color: $mintGreen-dark;
        background-color: $white;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 0px 10px -1px $boxShadow-dark;
        &:hover{
            cursor: pointer;
            transition: all 0.2s;
            color: $white;
            background-color: $mintGreen-dark;
        }
    }
}

.closeButtonContainer{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}

.closeButton{
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    &:hover{
        cursor: pointer;
        color: $minor;
    }
}

.hideButton{
    margin-right: -70px;
    transition: all 0.5s;
}

.selectArrow{
    font-size: 12px;
    position: absolute;
    height: 12px;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto;
}

.pagination{
    margin-top: 1.2em;
    text-align: center;

    .pageElement{
        display: inline-block;
        text-align: center;
        color: $black;
        &:last-child{
            margin-right: 0;
        }
    }
    
    //backup
    // .pageElement{
    //     display: inline-block;
    //     text-align: center;
    //     line-height: 1.75em;
    //     width: 1.75em;
    //     padding: 0.5em;
    //     border-radius: 1.5em;
    //     margin-right: calc((100% - 2.75em * 9) / 8);
    //     color: $black;
    //     &:last-child{
    //         margin-right: 0;
    //     }
    // }

    .pageArrow{
        border-radius: 0.5em;
        &:hover{
            cursor: pointer;
            color: $white;
            background-color: $mintGreen-dark;
            transition: all 0.2s;
        }
    }

    .pageBtn{
        &:hover{
            cursor: pointer;
            color: $black;
            background-color: $mintGreen-light;
            transition: all 0.2s;
        }
    }
    .dot::after{
        content: '...';
    }

    .currentPage{
        background-color: $mintGreen-dark;
        color: $white;
        &:hover{
            cursor: default;
            background-color: $mintGreen-dark;
            color: $white;
        }
    }
    
}

.selectors{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: 1em;
    // justify-content: space-between;
    .selectContainer{
        flex : 1 1 auto;
        position: relative;
        span{
            z-index: 2;
            display: block;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            text-align: center;
            // width: 100%;
            line-height: 1.5em;
            padding: 5px calc(11px + 0.7em) 5px 11px;
            margin:0 auto;
            pointer-events: none;
        }
        .selectArrow{
            color:$black;
            &:not([data-chosen='0']){
                color:$white;
            }
        }
        select{
            z-index: 1;
            line-height: 1.5em;
            width: 100%;
            padding: 5px calc(10px + 0.7em) 5px 10px;
            // text-align-last: center;
            // text-align: -webkit-center;
            color: $white;
            background-color:$white;
            option{
                color: $black;
                &:hover{
                    background-color: $mintGreen;
                }
            }
            &::-webkit-scrollbar{
                &-track{
                    background-color: $white;
                }
            }
            &:not([data-chosen='0']){
                background-color:$mintGreen-dark;
                color:$mintGreen-dark;
                option{
                    background-color:$white;
                    color:$black;
                }
            }
            &:not([data-chosen='0']) + span{
                color:$white;
            }
        }
    }

    .dateSelectContainer{
        flex : 1 1 auto;

        .react-datepicker__close-icon{
            &::after{
                background-color: $white;
                color: $black;
            }
        }
    }

    .dateSelect{
        // margin-bottom: 1em;
        width: calc(100% - 20px - 2px);
        height: 1.5em;
        padding: 5px 10px;
        border: 1px solid $minor;
        &::placeholder{
            text-align: center;
        }
        &:not([value='']){
            background-color:$mintGreen-dark;
            color:white;
            option{
                background-color:$white;
                color:$black;
            }
        }
    }

    .react-datepicker__tab-loop{
        position: absolute !important;
        .react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range{
            background-color: $mintGreen;
        }
        .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
            background-color: $mintGreen-dark;
        }
        .react-datepicker__day--selected,  .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-range{
            background-color: $mintGreen-dark;
        }
    }

    select, input{
        // margin-bottom: 1em;
        outline: none;
        border-radius: 1em;
        &:hover{
            cursor: pointer;
            border-color:  $mintGreen-dark;
        }
        &:focus{
            border-color:  $mintGreen-dark;
        }
    }
    select, option, input{
        -webkit-appearance: none;
    }
}

.cardsListContainer{
    position: relative;
    flex-grow: 1;
}

.cardsList{
    position: absolute;
    // height: calc(100% - 12px - #{$infoBlock-gap});
    height: calc(100% - #{$infoBlock-padding});
    overflow-y: scroll;
}

.horiLine{
    width: 100%;
    height: 0;
    margin: 2em 0 2em;
    border-bottom: 1px solid $line;
}

.noneDisplay{
    display: none;
}

.marginTop-3{
    margin: 3em 0 0;
}

.marginBottom-2{
    margin: 0 0 2em;
}
.marginBottom-3{
    margin: 0 0 3em;
}

.infoBlockContainer{
    position: fixed;
    &.hide{
        display: none;
    }
    &.open{
        animation-name: open;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    &.close{
        animation-name: close;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

.infoBlock {
    //這邊很奇怪。用google chrome和edge的開發者工具看，width會比CSS設置的少10px。
    //但是firefox是正常的。
    //0705註記 : 我想是scrollbar有沒有算進去的關係，chrome和edge會包含scrollbar，firefox則不會。
    // width: calc(450px + #{$padding-infoBlock} * 2);
    // height: calc(vh(100) - #{$infoBlock-gap} * 2 - #{$infoBlock-padding});
    // height: calc(#{vh(100)} - #{$infoBlock-gap} - #{$infoBlock-padding});
    height: calc(#{vh(100)} - #{$infoBlock-gap} * 2 - 2.5em);
    display: flex;
    flex-flow: column;
    background-color: $bg;
    border-radius: 1em;
    box-shadow: 0px 0px 10px 5px $boxShadow;
    overflow: hidden;
    &.maker{
        display: block;
        position: relative;
    }
}

.toolbarContainer{
    padding-bottom: 1.5em;
    border-bottom: 1px solid $line;
}

.card {
    margin: 0 auto 2em;
    padding: 2em;
    background-color: $white;
    box-shadow: 0px 2px 5px 1px $boxShadow;
    transition: all 0.3s;
    border-radius: 10px;
    overflow: hidden;

    &:last-child{
        margin-bottom: 0;
    }

    &:hover{
        background-color: $white-dark;
        box-shadow: 0px 5px 15px 0px $boxShadow;
        transition: all 0.1s ease-in;
    }

    .item{
        color: $minor;
        font-size: 0.7em;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 0.25em;
    }

    .highlighter{
        position: relative;
        top: 1.7em;
        left: calc(72px + 1em);
        height: 0.85em;
        margin-top: -0.85em;
        border-radius: 0.4em;
    }

    &-meta{
        &-title{
            font-size: 1.4em;
            line-height: 1.5em;
            .state{
                display: inline-block;
                width: 62px;
                vertical-align: middle;
                margin-right:1.5em;
                font-size: 0.8em;
                letter-spacing: 2px;
                //---把最後一個字的letter-space空間去除
                text-indent: -2px;
                direction: rtl;
                //------------------------------------
                text-align: center;
            }
            .working{
                border: $candyPink 1.5px solid;
                color: $candyPink;
            }
            .notWorking{
                border: $minor 1.5px solid;
                color: $minor;
            }
            .pipeType{
                display: inline-block;
                font-size: 1.2em;
                // width: calc(400px - 56px - 93px);
                font-weight: 500;
                vertical-align: middle;
                letter-spacing: 2px;
            }
        }
        
        &-basicInfo{
            margin: 1.5em 0;
            .date{
                span{
                    font-size: 1.5em;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
                .slash::after{
                    content: '/';
                    color: rgba(0, 0, 0, 0.7);
                    font-weight: 500;
                    font-size: 0.5em;
                    padding: 0 0.1em;
                }
                i{
                    position: relative;
                    bottom : 2px;
                    color: $minor;
                    padding: 0 0.75em;
                }
            }
            .info{
                font-size: 1.25em;
                margin-top:1em;
                letter-spacing: 2px;
            }
        }

        .buttons{
            font-size: 16px;
            float: right;
            *{
                font-size: 1.15em;
                display: inline-block;
                width: 40px;
                line-height: 40px;
                border-radius: 20px;
                text-align: center;
                margin-right: 15px;
                box-shadow: 0px 0px 5px -1px $boxShadow;
                &:last-child{
                    margin-right: 0px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            &-locate{
                color: $candyPink;
                background-color: $white;
                transition: all 0.1s;
                &:hover{
                    color: $white;
                    background-color: $candyPink;
                }
            }
            &-moreInfo{
                color: $mintGreen;
                background-color: $white;
                transition: all 0.1s;
                &:hover{
                    color: $white;
                    background-color: $mintGreen;
                }
            }
            &-moreInfoClicked{
                color: $white;
                background-color: $mintGreen;
            }
        }

        &::after{
            clear: both;
            display: block;
            content: '';
        }
    }

    &-body{
        font-size: 1.25em;
        letter-spacing: 2px;

        .constructTitle{
            line-height: normal;
            font-weight: 700;
        }

        &-detailInfo{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            row-gap: 1em;
            letter-spacing: 2px;

            .oneRow{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            
            .phone{
                font-size: 0.7em;
                margin-top: 3px;
            }
        }
    }
}

.cardMini{
    padding: 0 5px;
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 400;
    
    .inlineBlock{
        display: inline-block;
    }

    .title{
        margin: 0px 0px 15px;
    }
    .item{
        font-size: 0.85em;
        color: $minor;
        margin-bottom: 2px;
        letter-spacing: 1px;
        font-weight: 300;
        &::before{
            display: inline-block;
            content: '。';
            width: 10px;
            line-height: 10px;
            border-radius: 10px;
            color: $mintGreen;
            background-color: $mintGreen;
            margin-right: 5px;
        }
    }
    .data{
        font-weight: 400;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }
    .last{
        margin-bottom: 10px;
    }
    .date{
        span{
            font-size: 1.2em;
            font-weight: 700;
        }
        .slash::after{
            content: '/';
            color: $minor;
            font-weight: 500;
            font-size: 0.5em;
            padding: 0 1px;
        }
        i{
            color: $minor;
        }
    }
    .state{
        vertical-align: middle;
        width: 62px; // 400px : 55px
        padding: 5px 5px;
        font-size: 1em;
        letter-spacing: 2px;
        //---把最後一個字的letter-space空間去除-----
        text-indent: -2px;
        direction: rtl;
        //-----------------------------------------
        text-align: center;
    }
    .pipeType{
        font-size: 1.25em;
        vertical-align: middle;
        text-align: center;
        margin-left: 1em;
    }
    .working{
        border: $candyPink 1.5px solid;
        color: $candyPink;
    }
    .notWorking{
        border: $minor 1.5px solid;
        color: $minor;
    }
}

.noContent{
    text-align: center;
    padding-top: 2em;
    color: $minor;
    font-size: 2em;
    .exclamationMark{
        font-size: 2em;
        line-height: 2em;
        color: $mintGreen;
    }
}

.makerMessageContainer{
    // position: relative;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.makerMessage{
    position: relative;
    height: calc(100% - 2em);
    font-size: 1.25em;
    padding: 0 2em 2em;
    color: $minor;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    overflow-y: scroll;
    img{
        display: block;
        width: 6.5em;
        height: 6.5em;
        margin: 0 auto 0;
        padding-top: 2em;
    }
    .socialMedia{
        align-self: flex-end;
        // position: absolute;
        // bottom: 0;
        // right: 0;
        // margin: 2em;
        a{
            margin-right: 10px;
            &:last-child{
                margin-right: 0px;
            }
        }
        i{
            font-size: 2em;
            color: $minor;
            &:hover{
                color: $minor-hover;
                cursor: pointer;
            }
        }
    }
}

.serverError{
    margin-top: calc(50vh - 2em);
    text-align: center;
    color: $minor;
    font-size: 2em;
}

// .loading{
//     height: 250px;

//     div{
//         position: relative;
//         top: 50%;
//         left: 50%;
//         transform: translateX(-20%) translateY(-50%);
//         font-size: 36px;
//         color: rgba(0, 0, 0, 0.31);
//     }
// }

.hide{
    visibility: hidden;
}

.bgColor{
    &_orange{
        background-color: #FFA665;
        &-light{
            background-color: #ffdec7;
        }
    }

    &_mintGreen{
        background-color: $mintGreen;
        &-light{
            background-color: $mintGreen-light;
        }
    }
}